:deep(.p-message-text) {
    padding-left: 110px;
}


.logan {
    background-color: rgba(100, 100, 100, 0.2);
    // background-color: red;
}

.page {
    padding: 8px;
}

.sign-up-group {
    padding: 30px;
    width: 1000px;
    flex-direction: row;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.image-group {
    .image {
        width: 100%;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .header {
        font-size: 20px;
    }

    .description {
        font-size: 16px;
    }
}

.contain-group {
    margin-top: unset;
    padding-left: 20px;

    .item {
        width: 450px;

        .label {
            width: 110px;
        }

        .no-account {
            margin-left: 110px;
            margin-top: 10px;
        }
        .term-privacy {
            margin-top: 4px !important;
            margin-left: 110px !important;
            margin-right: 8px !important;
        }

        .register {
            margin-left: 110px;
            height: 30px !important;
            padding-left: 8px !important;
            padding-right: 8px !important;
            // w-[130px] h-[30px]
        }
    }
}

/// Tablet
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {}

/// Tablet mini
@media screen and (min-width: $tablet-mini-min) and (max-width: $tablet-mini-max) {
    :deep(.p-message-text) {
        padding-left: 100px;
    }

    .sign-up-group {
        width: 500px;
        padding: 20px;
        flex-direction: column;
    }

    .image-group {
        max-height: 300px;

        .image {
            width: 100%;
            max-height: 300px;
        }

        .header {
            font-size: 18px;
        }

        .description {
            font-size: 13px;
        }
    }

    .contain-group {
        margin-top: 20px;
        padding-left: unset;

        .item {
            width: 100%;

            .label {
                width: 100px;
            }

            .no-account {
                margin-left: 100px;
                margin-top: 10px;
            }

            .term-privacy {
                margin-top: 5px !important;
                margin-left: 100px !important;
            }

            .register {
                margin-left: 100px;
            }
        }
    }
}

/// Mobile
@media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    :deep(.p-message-text) {
        padding-left: 100px;
    }

    .sign-up-group {
        padding: 10px;
        width: 100%;
        max-width: 500px;
        flex-direction: column;
    }

    .image-group {
        max-height: 300px;

        .image {
            width: 100%;
            max-height: 300px;
        }

        .header {
            font-size: 18px;
        }

        .description {
            font-size: 13px;
        }
    }

    .contain-group {
        margin-top: 20px;
        padding-left: unset;

        .item {
            width: 100%;

            .label {
                width: 100px;
            }
            .no-account {
                margin-left: 100px;
                margin-top: 10px;
            }

            .term-privacy {
                margin-top: 5px !important;
                margin-left: 100px !important;
            }
            .register {
                margin-left: 100px;
            }

        }
    }
}