
  .create-department-group {
      flex: 1;
      padding: 30px;
      padding-top: 20px;
      min-width: 600px;
      font-size: 14px !important;

      .header {
          margin-bottom: 20px;
      }

      .contain {
          display: flex;
          flex-direction: column;

          .inner {
              width: 100%;
              max-width: 700px;
              border: 1px solid $border-color;
              border-top-right-radius: 10px;
              border-bottom-left-radius: 10px;
              padding: 30px;
              padding-bottom: 20px;
              padding-top: 20px;

              .item1,
              .item2,
              .item3 {
                  flex-direction: row;
                  align-items: center;
                  justify-content: flex-start;

                  .label {
                      width: 110px;
                      font-weight: 500;

                      span {
                          margin-left: 2px;
                          color: red;
                      }
                  }

                  .group-input {
                      flex: 1;
                      position: relative;

                      .clear {
                          position: absolute;
                          z-index: 1;
                          background-color: red;
                          right: -9px;
                          top: -9px;
                          background-color: #f2f2f2;
                          border-radius: 50px;
                          width: 18px;
                          height: 18px;
                          display: flex;
                          align-items: center;
                          justify-content: center;

                          .icon {
                              top: unset;
                              left: unset;
                              filter: invert(88%) sepia(2%) saturate(6818%) hue-rotate(184deg) brightness(76%) contrast(86%);
                          }

                          &:hover {
                              cursor: pointer;
                          }
                      }

                      :deep(.p-placeholder) {
                          display: flex;
                          align-items: center;
                          padding-left: 10px !important;
                          font-size: 14px;
                      }

                      .image {
                          margin-left: 50px;
                          width: 50px;
                          height: 50px;
                          border-top-right-radius: 5px;
                          border-bottom-left-radius: 5px;
                          border-color: $second-color;
                          border-style: solid;
                          border-width: 1px;
                      }

                      .select-group {
                          position: relative;
                          flex: 1;
                      }
                  }
              }

              .avatar-des {
                  margin-left: 110px;
                  font-size: 13px;
              }

              :deep(.p-message-text) {
                  padding-left: 110px;
              }

              .avatar-error {
                  padding-left: 0px;
              }
          }

      }

      .icon {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
      }



      .line {
          border-radius: 5px;
          border-bottom: 1px dashed $border-color;
      }

      .close {
          border-radius: 50px;
          width: 30px;
          height: 30px;
          padding: 5px;
          background-color: #f2f2f2;

          &:hover {
              background-color: #eeeeee;
              cursor: pointer;
          }
      }

      .footer {
          margin-top: 20px;
      }
  }

  /// Tablet
  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {}

  /// Tablet mini
  @media screen and (min-width: $tablet-mini-min) and (max-width: $tablet-mini-max) {}

  /// Mobile
  // $tablet-max: 1366px;
  // $tablet-min: 1024px;
  // $tablet-mini-max: 1023px;
  // $tablet-mini-min: 768px;
  // $mobile-max : 767px;
  // $mobile-min: 360px;
  @media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    
      .create-department-group {
          flex: 1;
          padding: 10px;
          padding-top: 15px;
          min-width: unset;


          .header {
              margin-bottom: 15px;
          }

          .contain {
              display: flex;
              flex-direction: column;

              .inner {
                  width: 100%;
                  border: 1px solid $border-color;
                  border-top-right-radius: 10px;
                  border-bottom-left-radius: 10px;
                  padding: 10px;

                  .item1,
                  .item2,
                  .item3 {
                      flex-direction: column;
                      align-items: flex-start;
                      justify-content: flex-start;

                      .group-input {
                          width: 100%;

                          .select-group {
                              position: relative;
                              max-width: unset;
                              flex: 1;
                          }
                      }
                  }

                  .item2 {
                      .image-group {
                          padding-left: 110px;
                      }
                  }

                  .item3 {
                      flex-direction: row;
                      align-items: center;
                      justify-content: flex-start;

                      .group-input {
                          width: 100%;
                      }
                  }

                  .avatar-des {
                      margin-left: 110px;
                  }

                  :deep(.p-message-text) {
                      padding-left: 0px;
                  }

                  .avatar-error {
                      padding-left: 110px;
                  }
              }
          }

          .image {
              margin-left: 10px;
              width: 50px;
              border-top-right-radius: 5px;
              border-bottom-left-radius: 5px;
              border-color: $second-color;
              border-style: solid;
              border-width: 1px;
          }

          .footer {
              margin-top: 15px;
          }
      }
  }