:deep(.pi) {
    font-size: 14px !important;
}

.card {
    border-top-right-radius: unset;
    border-bottom-left-radius: unset;
    border: unset;
    border-bottom: 1px solid $card-border-color; //border
}

.header {
    padding-left: 16px;
    padding-right: 16px;
    height: 50px;
    // box-shadow: $left-menu-box-shadow;

    .header-text {
        font-size: 20px;
    }

    .search {
        width: 400px;
        margin-right: 10px;

        :deep(.p-autocomplete) {
            .p-inputtext {
                width: 400px;
                padding-left: 30px;
            }
        }

        .search-icon {
            color: #cccccc;
        }
    }

    .menu-icon {
        display: none;

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            img {
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(100deg) brightness(108%) contrast(108%);
            }
        }
    }
}

/// Tablet
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    .header {
        padding-left: 0px;

        .menu-icon {
            display: flex;
        }
    }
}

/// Tablet mini
@media screen and (min-width: $tablet-mini-min) and (max-width: $tablet-mini-max) {
    .header {
        padding-left: 0px;
        padding-right: 8px;
        height: 60px;

        .header-text {
            font-size: 16px;
        }

        .search {
            width: 160px;
            margin-right: 10px;

            :deep(.p-autocomplete) {
                .p-inputtext {
                    width: 160px;
                    padding-right: 30px;
                }
            }

            .search-icon {
                color: #cccccc;
            }
        }

        .menu-icon {
            display: flex;
        }
    }
}

/// Mobile
@media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    .header {
        padding-left: 0px;
        padding-right: 8px;
        height: 60px;

        .header-text {
            font-size: 16px;
        }

        .search {
            width: 160px;
            margin-right: 10px;

            :deep(.p-autocomplete) {
                .p-inputtext {
                    width: 160px;
                    padding-right: 30px;
                }
            }

            .search-icon {
                color: #cccccc;
            }
        }

        .menu-icon {
            display: flex;
        }
    }
}