.left-menu {
    background-color: $left-menu-background-color;
    // box-shadow: $left-menu-box-shadow;
    width: 300px;
    overflow: scroll;

    .avatar{
        box-shadow: $left-menu-box-shadow;
        border-top-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        border-color: $second-color;
        border-style: solid;
        border-width: 1px;
    }
    .org-avatar {
        box-shadow: $left-menu-box-shadow;
        border-top-right-radius: 3px !important;
        border-bottom-left-radius: 3px !important;
        border-color: $second-color;
        border-style: solid;
        border-width: 1px;
    }

    .menu-close {
        display: none;

        img {
            width: 25px;
            height: 25px;
        }

        &:hover {
            img {
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(100deg) brightness(108%) contrast(108%);
            }
        }
    }
}

/// Tablet
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
    .left-menu {
        width: 300px;

        .menu-close {
            display: flex;
        }
    }
}

/// Tablet mini
@media screen and (min-width: $tablet-mini-min) and (max-width: $tablet-mini-max) {
    .left-menu {
        width: 300px;

        .menu-close {
            display: flex;
        }
    }
}

/// Mobile
@media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    .left-menu {
        .menu-close {
            display: flex;
        }
    }
}