.img-group {
    width: 50px;
    height: 50px;
    position: relative;

    .loading-group {
        position: absolute;
        background-color: white;
        z-index: 1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image {
        width: 50px;
        height: 50px;
        border-top-right-radius: 8px;
        border-bottom-left-radius: 8px;
        border-color: $second-color;
        border-style: solid;
        border-width: 1px;
    }
}