.create-branch {
    flex: 1;
    padding: 30px;
    padding-top: 20px;
    min-width: 600px;
    font-size: 14px;

    .header{
        margin-bottom: 20px;
    }

    .contain {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .inner {
            width: 100%;
            max-width: 700px;
            border: 1px solid $border-color;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 30px;
            padding-bottom: 20px;
            padding-top: 20px;
            .item1,.item2,.item3, .item4, .item5 {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                .label {
                    width: 120px;
                    font-weight: 500;
                    span {
                        margin-left: 2px;
                        color: red;
                    }
                }
                .group-input {
                    flex: 1;
                    position: relative;

                    .clear {
                        position: absolute;
                        z-index: 1;
                        background-color: red;
                        right: -9px;
                        top: -9px;
                        background-color: #f2f2f2;
                        border-radius: 50px;
                        width: 18px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .icon {
                            top: unset;
                            left: unset;
                            filter: invert(88%) sepia(2%) saturate(6818%) hue-rotate(184deg) brightness(76%) contrast(86%);
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .image {
                        margin-left: 50px;
                        width: 50px;
                        height: 50px;
                        border-top-right-radius: 5px;
                        border-bottom-left-radius: 5px;
                        border-color: $second-color;
                        border-style: solid;
                        border-width: 1px;
                    }
                }
            }
            .item4{
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
            }
            .item5{
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
               :deep(.p-fileupload){
                    width: 100%;
                    border-radius: unset;
                    height: 150px;
                    border: 1px solid $border-color;
                    border-top-right-radius: 8px;
                    border-bottom-left-radius: 8px;
               }
               :deep(.p-fileupload-header){
                    display: none;
               }
               :deep(.p-fileupload-content){
                    padding:10px;
                    height: 150px;
                    .images-wrap{
                        overflow-x: scroll;
                        .image-group{
                            position: relative;
                            width: 120px;
                            border: 1px solid $border-color;
                            border-top-right-radius: 8px;
                            border-bottom-left-radius: 8px;
                            overflow: hidden;
                            .remove{
                                position: absolute;
                                z-index: 1;
                                top: 0;
                                right: 0;
                                width: 20px;
                                height: 20px;
                                background-color: #888888;
                                // border-top-right-radius: 8px;
                                border-bottom-left-radius: 8px;
                                // border-radius: 25px;
                                padding: 3px;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                            .remove-icon{
                                filter: invert(98%) sepia(2%) saturate(550%) hue-rotate(139deg) brightness(118%) contrast(100%);
                            }
                        }
                    }
               }
               .images-upload-icon{
                    filter: invert(48%) sepia(43%) saturate(2236%) hue-rotate(166deg) brightness(99%) contrast(90%);
               }
               .images-empty{
                padding-top: 20px;
                &:hover{
                    cursor: pointer;
                }
               }
               .image{
                    width: 100%;
                    height: 100%;
               }
            }
        }
    }

   
    .icon {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    .avatar-des {
        margin-left: 120px;
        font-size: 13px;
    }

    .line {
        border-radius: 5px;
        border-bottom: 1px dashed $border-color;
    }

    
    :deep(.p-message-text) {
        padding-left: 120px;
    }
    .close{
        border-radius: 50px;
        width: 30px;
        height: 30px;
        padding:5px;
        background-color: #f2f2f2;
        &:hover{
            background-color: #eeeeee;
            cursor: pointer;
        }
    }
    .footer {
        margin-top: 20px;
    }
}

/// Tablet
@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {}

/// Tablet mini
@media screen and (min-width: $tablet-mini-min) and (max-width: $tablet-mini-max) {
   
}
/// Mobile
// $tablet-max: 1366px;
// $tablet-min: 1024px;
// $tablet-mini-max: 1023px;
// $tablet-mini-min: 768px;
// $mobile-max : 767px;
// $mobile-min: 360px;
@media screen and (min-width: $mobile-min) and (max-width: $mobile-max) {
    .create-branch {
        flex: 1;
        padding: 10px;
        padding-top: 15px;
        min-width: unset;


        .header {
            margin-bottom: 15px;
        }
        .contain {
            display: flex;
            flex-direction: column;
            max-height: 500px;
    
            .inner {
                width: 100%;
                border: unset;
                padding: 10px;
                padding-bottom: 50px;
                .item1,
                .item2,
                .item3,
                .item4 {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
            
                    .group-input {
                        width: 100%;
            
                        .select-group {
                            position: relative;
                            max-width: unset;
                            flex: 1;
                        }
                    }
                }
                .item2 {
                    .image-group {
                        padding-left: 120px;
                    }
                }
                :deep(.p-message-text) {
                    padding-left: 0px;
                }
            }
        }
        .footer {
            margin-top: 15px;
            position: absolute;
            z-index: 1;
            bottom:0px;
            left: 0px;
            right: 0px;
            padding-top: 5px;
            padding-bottom: 15px;
            background-color: white;
        }
    }
}